@charset "UTF-8";

/*.unit-level1,*/
/*.unit-level2,*/
/*.unit-level3,*/
/*.unit-level4{*/
/*    margin: 0 0.3em;*/
/*    font-weight: bolder;*/
/*    text-shadow: none;*/
/*}*/

.unit-level1{
    font-size: 0.6vw;
}
.unit-level2{
    font-size: 0.7vw;
}
.unit-level3{
    font-size: 0.8vw;
}
.unit-level4{
    font-size: 0.9vw;
}

.number-level1{
    font-size: 0.8vw;
}

.number-level2{
    font-size: 0.9vw;
}

.number-level3{
    font-size: 1vw;
}

.number-level4{
    font-size: 1.2vw;
}

.title-level1{
    font-size: 0.6vw;
}

.title-level2{
    font-size: 0.7vw;
}

.title-level3{
    font-size: 0.8vw;
}

.title-level4{
    font-size: 0.9vw;
}


.unit-level1,
.unit-level2,
.unit-level3,
.unit-level4,
.number-level1,
.number-level2,
.number-level3,
.number-level4{
    font-weight: bold;
}

.color-default{
    color: #6ffffb;
}

.color-orange{
    color: #F69746 !important;
}


/*.show-style1{*/
/*    font-size: 1vw;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-25%);*/
/*}*/

/*.text-show-style1{*/
/*    font-size: 0.9vw;*/
/*    color: #6ffffb;*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    !*text-shadow: 0 0 1px #6ffffb;*!*/

/*    display: inline-block;*/
/*    text-align: left;*/
/*}*/

/*.text-label-style1{*/
/*    color: #6ffffb;*/
/*    font-size: 0.7vw;*/
/*    margin-top: -0.2em;*/
/*    display: block;*/
/*    font-weight: bolder;*/
/*    display: inline-block;*/
/*    width:50%;*/
/*    text-align: right;*/
/*}*/

/*.show-style2{*/
/*    font-size: 0.9vw;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translateY(-25%);*/
/*}*/

/*.text-show-style2{*/
/*    font-size: 1vw;*/
/*    color: #6ffffb;*/
/*    display: block;*/
/*    font-weight: bold;*/
/*    !*text-shadow: 0 0 5px #6ffffb;*!*/
/*}*/

/*.text-label-style2{*/
/*    color: #6ffffb;*/
/*    font-size: 0.65vw;*/
/*    margin-top: -0.2em;*/
/*    display: block;*/
/*    font-weight: bolder;*/
/*}*/

.indicator-item{

    color: #6ffffb;
}

.indicator-item > .indicator-item-title{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
    text-align: center;
}

.indicator-item > .indicator-item-number{
    text-align: left;
    padding-top: 0.7em;

}

.v-split-line-right{
    border-right: 1px solid #6ffffb;
    /*box-shadow: 10px 0px 15px -5px rgba(255,255,255,0.52);*/
}
.v-split-line-left{
    border-right: 1px solid #6ffffb;
    /*box-shadow: -10px 0px 15px -5px rgba(0,0,0,0.52);*/
}

.audit-count-scroll-item{

    transform: translateY(-70%) !important;
    font-size: 1.2vw !important;
    font-weight: bold;
}

/*  案例  */

.knowledge-table{
    height: 90%;
    border: none;
    margin-top: 1.55em;
}

.knowledge-table tr td{
    padding-left: 2.1em;
}

/*.knowledge-bg{*/
/*    background: url("../img/konwledge.svg") no-repeat center center;*/
/*    background-size: contain;*/
/*    padding-bottom: 1.8em;*/
/*}*/
.knowledge-title{
    margin-left: 0.4em;
    font-size: 0.7vw;
    text-align: left;
    display: inline-block;
    width: 5.5em;
}

.knowledge-number{
    margin-right: 1vw;
    font-size: 0.9vw;
    text-align: right;
    font-weight: bold;
}

.column-header-title{
    border-left: 0.3em solid #6ffffb;
}

.column-header-title a{
    /*background: rgba(62,171,190,0.1);*/
    /*padding-left: 2em;*/
    /*!*margin-left: 0.14em !important;*!*/
    /*padding-top: 0.19em;*/
    /*padding-bottom: 0.22em;*/
    /*padding-right: 10vw;*/
    /*border-top-right-radius: 0.8em;*/
    font-size: 1vw !important;
    font-weight: bold;
}

.label-level1{
    font-size: 1vw !important;
}

.audit-input{
    height: 100%;
    width: 100%;
    border: 1px solid #6ffffb;
    background: transparent;
    /*border-radius: 0.5em;*/
    font-size: 0.8vw;
    font-weight: bold;
    /*text-align: center;*/
    padding-left: 3em;
    color: #6ffffb;
    /*border-left: none;*/
    cursor: pointer;
    background: rgba(82,218,255,0.1);
}
.audit-label{
    height: 100%;
    width: 100%;
    font-size: 0.82vw;
    font-weight: bold;
    /*padding: 0.2em 0 0 0;*/
    color: #6ffffb;
    text-align: center;
}

.audit-label{
    background: rgba(82,218,255,0.2);
    border-top:1px solid #6ffffb;
    border-left:1px solid #6ffffb;
    border-bottom:1px solid #6ffffb;
}

.scroll-indicators > .slide > .col-48{
    /*margin-bottom: 0.3em;*/
    /*margin-top:0.3em;*/
    box-shadow: 3px 3px 5px rgba(82,218,255,0.3);
    border-radius: 1em;
    border-bottom: 1px solid #6ffffb;
    margin-top: 0.1em;
}

.tab-title,
.column-header-subtitle{
    /*line-height: 1em !important;*/
}

#audit-power{
    background: url(../img/power.svg) no-repeat center center;
    background-size: contain;
}


.audit-power-item{
    text-align: center;
}

.audit-power-img{
    font-size: 3vw;
    width: 1em;
    height: 1em;
}

.month-selector-icon{
    position: absolute;
    /*float: left;*/
    transform: translate(-130%,25%);
    cursor: pointer;
    z-index: -1;
}

.audit-module-bg{
    background-color: rgba(55,158,231,0.15);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}


/*  test.css */
.f-left {
    float: left;
}

body {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/*.column-header-title .span {*/
/*    !* height:100%;*/
/*     width: 100%;*!*/
/*    display: block;*/
/*    !*  background:#379ee7;*!*/
/*    !* box-shadow:0 0 5px #379ee7;*!*/
/*    background: url("../img/diamond.svg") no-repeat;*/
/*    background-size: 100% 100%;*/
/*    position: absolute;*/
/*    !*left: -4%;*!*/
/*    top: 0;*/

/*}*/

.textClass {
    line-height: 8vh;
    text-align: center;
    color: white;
}

.column-header-title a {
    margin-left: 10px;
    font-size: 0.8vw;
}

.no-data {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    font-size: 1.2vw;
    color: #fff;
}

.center-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #6ffffb;
    /*font-size: 0.6vw;*/
    display: block;
    /* font-weight: bold;*/
}
/*.center-middle >*/


.tabs {
    display: block;
}

.tab-title {
    font-size: 0;
    display: block;
    overflow: hidden;
}

.tab-title .item {
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 0.6vw;
    margin: 0 10px;
}

.tab-title .item-cur {
    color: #49d9fe;
    border-bottom: 3px solid #179af7;
}

.tab-cont {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.tab-cont-wrap {
    position: absolute;
}

.tab-cont .item {
    color: #fff;
}

.audit {
    color: #6ffffb;
    font-size: 1.2vw;
    text-align: center;
    padding-top: 5%;
    letter-spacing: 0.3vh
}

.audit > span {
    color: #6ffffb;
    font-size: 1.8vw;
    font-weight: bold;
    text-shadow: 0 0 5px #6ffffb;
}

.audit > p {
    font-size: 1.8vw;
    margin-top: 1.4vh;
    color: #6ffffb;
    font-weight: bold;
    text-shadow: 0 0 5px #6ffffb;
}

.audit-point {
    color: #6ffffb;
    font-size: 0.8vw;
    text-align: center;
    border-bottom: 2px solid #6ffffb;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(82,218,255,0.3);
    letter-spacing: 0.3vh;
    /* padding-top: 0.7vw;*/
}

.audit-point > p {
    font-size: 1vw;
    color: white;
}

.center-middle1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.datepicker-container{
    top: 15vh !important;
}